<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>美客物联欢迎您</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Add to homescreen for Safari on iOS -->
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <link rel="stylesheet" href="__SRC__/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="__SRC__/assets/css/app.css">
  <link rel="stylesheet" href="__SRC__/css/style.css">
  <link rel="stylesheet" href="__SRC__/css/mStyle.css">
  <link rel="stylesheet" href="__SRC__/css/animate.min.css">
  <link rel="stylesheet" href="__SRC__/css/common/regiest.css" />
	<link rel="stylesheet" href="__SRC__/css/common/common.css" />
	<link rel="stylesheet" href="__SRC__/css/index.css" />
	<link rel="stylesheet" href="__SRC__/css/magnific-popup.css" />
	<script type="text/javascript" src="__SRC__/js/common/mobileCommon.js" ></script>
  <script src="__SRC__/assets/js/jquery.min.js"></script>
  <script src="__SRC__/./js/style.js"></script>
  <script src="__SRC__/js/jquery.magnific-popup.min.js"></script>
</head>
<body>
<div id="navbar" class="AlignCenter">
	<div id="logoContainer" >
		<img id="loadingImg" style="display:block;margin:auto;" src="./__SRC__/img/loading.gif" />
		<img id="logoImg" style="display:block;float: none;" src="./__SRC__/img/logo.png" />
	</div>
	<div id="menuBtn">
		<div class="store"></div>
		<div class="store"></div>
		<div class="store"></div>
	</div>
</div>
<div id="container" class="">
	<div id="menuContainer" class="AlignCenter">
		<nav class="AlignCenter">
			<ul>
				<li><a onclick="goToScorll(5);">首页</a></li>
				<li><a onclick="goToScorll(0);">业务范围</a></li>
				<li><a onclick="goToScorll(1);">关于美客物联</a></li>
				<li><a onclick="goToScorll(4);">成员一览</a></li>
				<li><a onclick="goToScorll(2);">成功案例</a></li>
				<li><a onclick="goToScorll(3);">联系我们</a></li>
			</ul>
			<div id="hideMenuBtn">
				<div id="hideBtnbr"></div>
				<div id="hideBtnlb"></div>
			</div>
		</nav>
	</div>
	<div id="videoContainer">
				
	</div>
	<div id="videoMaskLayer" class="AlignCenter">
			<div class="introtext">
			<h1 id="intr">美客物联为您量身定做IT解决方案！</h1>
			<h5>MakeIOT致力于开发各类商业、管理、娱乐移动端、PC端APP</h5	>
			<h5>各类智能物联网智能应用系统的研发。</h5>
			<button id="btnDiscover" type="button" class="am-btn am-btn-warning am-btn-xl"  onclick="goToScorll(0);">了解我们</button>
			<button id="btnContact" type="button" class="am-btn am-btn-success am-btn-xl" onclick="goToScorll(3);">联系我们</button>
		</div>
	</div>
	<div id="services" class="sections horiCenterFather">
		<!--<div class="introtext horiCenterNode" id="intro2">
			<h1 class="captionColor1">“美客物联，很简单</h1>
		</div>-->
		<div class="itemContainer horiCenterFather">
			<h2>“我们专注的</h2>
			<div class="servicesItem horiCenterFather">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/pencil2-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>Logo设计</strong></a></h3>
				<p>企业、工作室、网站、APP、游戏应用等平面Logo及标志请交给美客物联，由您指定风格，我们帮您快速完成设计！</p>
			</div>
			<div class="servicesItem horiCenterFather">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/football-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>微信/APP开发</strong></a></h3>
				<p>美客物联专注于跨平台APP开发、微信公众号建设。熟练掌握购物商城、交友社区、生活服务、电子政务、协同办公等领域的定制开发技术，可指定包括 Windows、Linux、Android、IOS等系统平台的Native APP或 Web APP。</p>
			</div>
			<div class="servicesItem horiCenterFather">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/laptop-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>网站开发</strong></a></h3>
				<p>美客物联可以帮您快速构建风格各样的响应式动、静态网站，企业网站、企业内部管理系统、个人博客、论坛社区、新闻网站、购物网站等等，您说出您的需求，剩下的交给我们！</p>
			</div>
			<div class="servicesItem horiCenterFather servicesItemNL">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/letter-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>棋牌手游</strong></a></h3>
				<p>我们的技术团队在机器博弈、AI算法、跨平台游戏框架等方面有一定经验和案例，可为您定制各类棋牌游戏，或向您出售、授权棋牌AI、游戏源码。</p>
			</div>
			<div class="servicesItem horiCenterFather ">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/like-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>数据库管理系统</strong></a></h3>
				<p>提供各种PC、移动端各类管理系统解决方案，如企业内部人事管理、项目管理、协同办公、数据录入查询等系统的开发服务，您说需求，设计、开发、部署、维护一站式服务。</p>
			</div>
			<div class="servicesItem horiCenterFather">
				<div class="AlignCenter imgContainer">
						<img class="AlignCenter" src="__SRC__/img/match-128x128.png" />
				</div>
				<h3 style="display: block;clear:both;"><a src ="#"><strong>物联网智能设备</strong></a></h3>
				<p>提供各类物联网智能应用系统的解决方案，如智能农业、智能家居、智能交通、智能医疗等领域的定制设备或系统。</p>
			</div>
		</div>
	</div>
	<div id='aboutus' class="sections ">
		
					<div class="triangle-down"></div>

		<div class="discContainer horiCenterFather">
			<h1 class="horiCenterNode">为何选择我们？</h1>
			<h4 class="horiCenterNode">美客物联核心技术团队由一群斗志昂扬，思维活跃的年轻人组成，团队平均年龄20+。我们的首要宗旨就是创新和品质，选择我们，能让您的产品不落俗套，美客物联就是为您不一样的Idea而生！</h4>
			<img class="horiCenterNode" src="__SRC__/img/1170x425.png" />
		</div>
	</div>
	<div id="ourteam" class="sections">
		<section class="member">
			<h1>We are MakeIOTer</h1>
			<div class="member-view">
				<div class="member-box transition-all-1">
					<section>
						<h2>高大虾</h2>
						<img src="__SRC__/img/220x220-2-220x220.png" />
						<p>&nbsp&nbsp&nbsp美客物联的颜值担当，团队扛把子，擅长Ai、Fw、Fl、Br、Ae、Pr、Id、Ps等软件的安装与卸载，精通CSS、JavaScript、PHP、ASP、C、C＋＋、C#、Java、Ruby、Perl、Lisp、python、Objective-C、ActionScript、Pascal、spss、sas等单词的拼写，熟悉Windows、Linux、Mac、Android、IOS、WP8等系统的开关机，精通各种远程代码执行漏洞、缓冲区溢出攻击、DDOS、SQL注入漏洞的中招，琴棋书画样样见过，致力于给美女把电脑修坏…</p>
					</section>
					<section>
						<h2>郭淙苌</h2>
						<img src="__SRC__/img/220x220-1-220x220.png" />
						<p>前端UI设计师，擅长平面制作、视频后期、UI设计，Web前端。性格开朗，爱好广泛，但不擅长把妹儿，一个有十八般武艺的“单身汉”。<br/>个人寄语：DOTA毁一生，魔兽穷三代，两者皆不沾，必成高富帅。。。</p>
					</section>
					<section>
						<h2>郝方位</h2>
						<img src="__SRC__/img/220x220-3-220x220.png" />
						<p>&nbsp&nbsp&nbsp前端程序开发工程师，重庆合川人。现任美客物联核心技术人员，从事web开发，app开发，游戏开发，软件外包，电子以及传感技术支持，同时也对人工智能算法等方面有所研究。<br/>&nbsp&nbsp&nbsp格言——绝不测量山的高度—除非你已到达顶峰，那时你就会知道山有多低。</p>
					</section>
					<section>
						<h2>秦屹</h2>
						<img src="__SRC__/img/220x220-4-220x220.png" />
						<p>主要从事单片机、嵌入式系统、以及电子技术方面的工作，同时也涉及各种高级语言程序开发，网络搭建。是美客物联硬件研发团队的核心成员之一。</p>
					</section>
					<section>
						<h2>等你来</h2>
						<img src="__SRC__/img/82f58PICIS4_1024.png" />
						<p>&nbsp&nbsp&nbsp&nbsp美客物联坐落于重庆三峡学院百安校区的创业基地，是一个充满Good Idea的技术团队。我们的工作主张弹性、自由、高效，做有意思的项目，超越用户预期的效果。美客物联办工氛围很轻松，制度人性化，项目有层次感，成员待遇优越，我们力求让每一个MakeIOTer都充满归属感。如果你是行业精英并期望加入这样的团队，那就直接<a onclick="goToScorll(3)">联系我们</a>吧！</p>
					</section>
				</div>
			</div>
			<div class="member-list">
				<hr class="bottom2top"/>
				<hr class="top2bottom"/>
				<hr class="bottom2top"/>
				<hr class="top2bottom"/>
				<section class="down" >
					<b>高大虾</b>
				</section>
				<section>
					<b>郭淙苌</b>
				</section>
				<section class="down">
					<b>郝方位</b>
				</section>
				<section>
					<b>秦屹</b>
				</section>
				<section class="down">
					<b>你的位置</b>
				</section>
				
			</div>
		</section>
	</div>
	<div id='wedo' class="sections horiCenterFather">
				<div id="bgMask">
					<h1>部分作品</h1>
				</div>
				<div class="exampleDiv">
			<div class="centerButton">
				<div class="leftBotton" >	
					<a href="#" class="a-button"><</a>
				</div>
				<div class="rightBotton">
					<a href="#" class="a-button">></a>
				</div>
			</div>
		<div class="imgsDiv">  							<!--样例DIV-->
				<div class="imgDiv" >
					<img src="__SRC__/img/makePHP.jpg" class="exampleImg">
					<div class="divtext">
					<div class="lineCenterDiv">
					<p class="ptext">美客物联自主研发的MakePHP是一个功能完善、接口全面的MVC后端开发框架，可大大提高Web后端开发效率。</p>
					</div>
				</div>
					
				</div>
				<div class="imgDiv" >
					<img src="__SRC__/img/ddz2.png" class="exampleImg">
					<div class="divtext">
					<div class="lineCenterDiv">
					<p class="ptext">“地主王”单机斗地主手游使用了自主研发的高智能斗地主AI，牌力在大部分人类之上。</p>
					</div>
				</div>
				</div>
				<div class="imgDiv" >
					<img src="__SRC__/img/wbhj.png" class="exampleImg">
					<div class="divtext">
					<div class="lineCenterDiv">
					<p class="ptext">美客网吧员工呼叫系统，具有美观的UI设计，功能上相比普通呼叫系统更加全面，也更加易用。</p>
					</div>
				</div>
				</div>
				<div class="imgDiv" >
					<img src="__SRC__/img/ai.jpg" class="exampleImg">
					<div class="divtext">
					<div class="lineCenterDiv">
					<p class="ptext">美客物联致力于人工智能算法的研究，并在机器博弈算法领域取得了一定的成绩。</p>
					</div>
				</div>
				</div>
				
		</div> 											<!--样例图片结束-->
				<div class="divo AlignCenter">
				</div>
		</div>
	</div><!--wedo -->
	<div id='contract' class="sections">
		<div class="aboveDiv AlignCenter">
			<div id="conContainer" class="horiCenterFather">
				<div id="conDesc" class="horiCenterFather horiCenterNode">
					<h1>联系我们</h1>
					<table class="horiCenterNode">
						<tr>
							<td><i class="fa fa-comments" aria-hidden="true"></i></td>
							<td>QQ:</td>
							<td>1245617757</td>
						</tr>
						<tr>
							<td><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
							<td>邮箱：</td>
							<td>20lisien@gmail.com</td>
						</tr>
						<tr>
							<td><i class="fa fa-volume-control-phone" aria-hidden="true"></i></td>
							<td>手机	：</td>
							<td>15310653356 高峰</td>
						</tr>
					</table>
				</div>
				<p><input type="text" class="am-form-field am-round" placeholder="您的姓名"/></p>
				<p><input type="text" class="am-form-field am-round" placeholder="您的邮箱"/></p>
				<p><input type="text" class="am-form-field am-round" placeholder="您的电话"/></p>
				<p><textarea rows="4" cols="50" placeholder="请在此输入您的留言..."></textarea></p>
				<button type="button" class="am-btn am-btn-success am-round">提交留言</button>
			</div>
			
		
		
			<!-- form's close div-->
		</div>
		<!--aboveDiv's close div-->
		<div class="bootDiv">
		</div>
	</div>
	<div id="footer" class="horiCenterFather">
        <div class="nfw-row" class="horiCenterNode">
              	<p class="last">© 2016 MakeIOT. All rights reserved.</p>
        </div>
</div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->

<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<script src="assets/js/amazeui.min.js"></script>
</body>
<script type="text/javascript" src="js/common/jquery-3.1.1.min.js" ></script>
	<script>
		//加载移动设置
		loadMobileSetting();
		//加载颜色
		var members = $(".member-list section");
		members.eq(0).css("background-color","#27AE60");
		members.eq(1).css("background-color","#2980B9");
		members.eq(2).css("background-color","#59C2E1");
		members.eq(3).css("background-color","#D35400");
		members.eq(4).css("background-color","#2C3E50");
		//初始化
		members.eq(0).addClass("scale");
		$(".member-box").eq(0).css("left",0);
		
		//pc端
		if(screen.availWidth>435){
			//加载斜线
			var hrs = $(".member-list hr");
			hrs.eq(0).css("left","22%");
			hrs.eq(1).css("left","38%");
			hrs.eq(2).css("left","52%");
			hrs.eq(3).css("left","68%");
			
			//添加事件
			for(var i=0;i<5;i++){
				(function(i){
					var member = members.eq(i);
					member.click(function(){
						members.removeClass("scale");
						members.eq(i).addClass("scale");
						$(".member-box").eq(0).css("left","-"+i*100+"%");
					})
					member = null;
				})(i);
			}
		}
	</script>
</html>